<div id="contentTable" className="data">
    <table id="moviesTb">
      <thead>
        <tr id="titles">
          <th>Ranking</th>
          <th>Title</th>
          <th>Year</th>
          <th>Revenue</th>
          <th></th>
        </tr>
          <tr *ngFor="let movie of filmes " id="tableContent" key={movie.id}>
            <td id="rank">{{movie.rank}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td> $ {{movie.revenue}}</td>
            <td>
                <img alt="eye" src=src (click)="showDetails(movie.id)">
            </td>
          </tr>
      </thead>
    </table>
   
  </div>
   <app-more-details *ngIf="detailsVisible" [id] = "value" [visible]="detailsVisible" ></app-more-details>

