<div id="popup" *ngIf="visible">
  <div id="popup-inner">
    <ul id="moreDetais">
      <img id="closeBt" [src]="close" (click)="hidePopUp()" alt="close" />
      <h1>{{ movie.title }}</h1>

      <img id="separater" alt="separater" [src]="separator" />
      <li id="title">Year</li>
      <li id="specificContent">{{ movie.year }}</li>
      <li id="title">Genre</li>
      <li id="specificContent">{{ movie.genre }}</li>
      <li id="title">Description</li>
      <li id="specificContent">{{ movie.description }}</li>
      <div id="actDirec">
        <table id="">
          <tr>
            <th id="title">Director</th>
            <th id="title" className="actors">Actores</th>
          </tr>
          <tr>
            <td id="directact">{{ movie.director }}</td>
            <td id="directact" className="actors">
              {{ movie.actors }}
            </td>
          </tr>
        </table>
      </div>
      <li id="title">RunTime</li>
      <li id="specificContent">{{ movie.runtime }}</li>
      <li id="title">Rating</li>
      <li id="specificContent">{{ movie.rating }}</li>
      <li id="title">Votes</li>
      <li id="specificContent">{{ movie.votes }}</li>
      <li id="title">Revenue</li>
      <li id="specificContent">${{ movie.revenue }}</li>
      <li id="title">Metascore</li>
      <li id="specificContent">{{ movie.metascore }}</li>
    </ul>
  </div>
</div>
