<div id="popup" *ngIf="visible">
  <div id="popup-inner">
    <ul id="moreDetais">
      <img id="closeBt" [src]=close (click)="closeBt()" alt="close">
          <h1> {{specificMovie.title}} </h1> 

        <img id="separater" alt="separater" [src]=separator />
        <li id="title">Year</li>
        <li id="specificContent">{{specificMovie.year}}</li>
        <li id="title">Genre</li>
        <li id="specificContent">{{specificMovie.genre}}</li>
        <li id="title">Description</li>
        <li id="specificContent">{{specificMovie.description}}</li>
        <div id="actDirec">
          <table id="">
            <tr>
              <th id="title"> Director</th>
              <th id="title" className="actors">
                Actores
              </th>
            </tr>
            <tr>
              <td id="directact"> {{specificMovie.director}} </td>
              <td id="directact" className="actors">
                {{specificMovie.actors}}
              </td>
            </tr>
          </table>
        </div>
        <li id="title">RunTime</li>
        <li id="specificContent">{{specificMovie.runtime}}</li>
        <li id="title">Rating</li>
        <li id="specificContent">{{specificMovie.rating}}</li>
        <li id="title">Votes</li>
        <li id="specificContent">{{specificMovie.votes}}</li>
        <li id="title">Revenue</li>
        <li id="specificContent">${{specificMovie.revenue}}</li>
        <li id="title">Metascore</li>
        <li id="specificContent">{{specificMovie.metascore}}</li>
      </ul>
</div>
</div>
